
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap.css">

    <link rel="stylesheet" href="~/Areas/Admin/Content/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/Areas/Admin/Content/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/app.css">
    <link rel="shortcut icon" href="~/Areas/Admin/Content/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/logo.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/dataDropDown.css">
    
    @RenderSection("AddBlogCss", false)
    @RenderSection("modalCss", false)
    @RenderSection("commentCss", false)
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            @{Html.RenderPartial("_LogoPartial");}
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-title">Forms &amp; Tables</li>

                        <li class="sidebar-item  ">
                            <a href="/Admin/Home/Index" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Blogs</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Admin/Home/Category" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Categories</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Admin/Home/Tag" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Tags</span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        @Html.ActionLink("Sign out", "Signout", "Account");
                    </div>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../Areas/Admin/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../Areas/Admin/Content/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../Areas/Admin/Content/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../Areas/Admin/Content/js/pages/dashboard.js"></script>
    <script src="../../Areas/Admin/Content/vendors/simple-datatables/simple-datatables.js"></script>
    @RenderSection("alert", false)
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script src="../../Areas/Admin/Content/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-CrNI25BFwyQ47q3MiZbfATg0ZoG6zuNh2ANn/WjyqvN4ShWfwPeoCOi9pjmX4DoNioMQ5gPcphKKF+oVz3UjRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
