@model List<JobBoardTemplate.Data.Blog>
@{
    ViewData["Title"] = "Admin Blogs";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section alert{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-CrNI25BFwyQ47q3MiZbfATg0ZoG6zuNh2ANn/WjyqvN4ShWfwPeoCOi9pjmX4DoNioMQ5gPcphKKF+oVz3UjRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @if (ViewBag.Editing != null)
    {
        <script>
            swal.fire("Good job!", "Blog Successfully updated", "success");
        </script>
    }

    @if (ViewBag.Delete != null)
    {
        <script>
            swal.fire("Good job!", "Blog Successfully deleted", "success");
        </script>
    }



    @if (ViewBag.Added != null)
    {
        <script>
            swal.fire("Good job!", "Blog Successfully added", "success");
        </script>
    }
}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>DataTable Blogs</h3>
                    <p class="text-subtitle text-muted">For user to check they list</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Blogs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    Blog Datatable
                    @Html.ActionLink("Add Blog", "Add", "Blog", null, new { @class = "btn btn-info float-end" })
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead class="text-center">
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Short description</th>
                                <th>Description</th>
                                <th>Publish Date</th>
                                <th>Written Date</th>
                                <th>IsPopular</th>
                                <th>Order</th>
                                <th>IsActive?</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var blog in Model)
                            {
                                <tr class="border-2">
                                    <td class="border-2">
                                        <img src="~/Content/img/blog/@blog.ImagePath" width="100" height="70" />
                                    </td>
                                    <td class="border-2">
                                        <button type="button" class="btn btn-dark block"
                                                data-bs-toggle="modal" data-bs-target="#modelTitle_@blog.Id">
                                            Title
                                        </button>
                                        <div class="modal fade" id="modelTitle_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-body">
                                                        @blog.Title
                                                    </div>
                                                    <div class="model-footer">
                                                        <button type="button" class="btn btn-light-info px-4 mb-3"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-2">
                                        <button type="button" class="btn btn-light-danger block text-dark"
                                                data-bs-toggle="modal" data-bs-target="#modelShort_@blog.Id">
                                            Short description
                                        </button>
                                        <div class="modal fade" id="modelShort_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-body">
                                                        @blog.ShortDescription
                                                    </div>
                                                    <div class="model-footer">
                                                        <button type="button" class="btn btn-light-info px-4 mb-3"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-2">
                                        <button type="button" class="btn btn-primary block"
                                                data-bs-toggle="modal" data-bs-target="#model_@blog.Id">
                                            Description
                                        </button>
                                        <!-- Scrollable modal -->
                                        <div class="modal fade" id="model_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-body">
                                                        @blog.Description
                                                    </div>
                                                    <div class="model-footer">
                                                        <button type="button" class="btn btn-light-info px-4 mb-3"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-2 text-center">
                                        <button type="button" class="btn btn-light-secondary block text-dark"
                                                data-bs-toggle="modal" data-bs-target="#modelBlogPubDate_@blog.Id">
                                            Publish date
                                        </button>
                                        <div class="modal fade" id="modelBlogPubDate_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-body">
                                                        @blog.PublishDate.ToString("dddd, dd MMMM yyyy HH:mm:ss")
                                                    </div>
                                                    <div class="model-footer">
                                                        <button type="button" class="btn btn-light-info px-4 mb-3"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-2 text-center">
                                        <button type="button" class="btn btn-info block text-dark"
                                                data-bs-toggle="modal" data-bs-target="#modelBlogWrtnDate_@blog.Id">
                                            Written date
                                        </button>
                                        <div class="modal fade" id="modelBlogWrtnDate_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-body">
                                                        @blog.WrittenDate.ToString("dddd, dd MMMM yyyy HH:mm:ss")
                                                    </div>
                                                    <div class="model-footer">
                                                        <button type="button" class="btn btn-light-info px-4 mb-3"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-2 text-center">
                                        @if (blog.isPopular == true)
                                        {
                                            <span class="badge bg-success">Popular</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Not Popular</span>
                                        }
                                    </td>
                                    <td class="border-2 text-center">@blog.Order</td>
                                    <td class="border-2 text-center">
                                        @if (blog.isActive == true)
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Not Active</span>
                                        }
                                    </td>
                                    <td class="border-2 text-center">
                                        @Html.ActionLink("Edit", "EditBlog", "Blog", routeValues: new { Id = blog.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                                    </td>
                                    <td class="border-2 text-center">
                                        <button type="button" class="btn btn-danger block"
                                                data-bs-toggle="modal" data-bs-target="#modelDelete_@blog.Id">
                                            Delete
                                        </button>

                                        <div class="modal fade" id="modelDelete_@blog.Id" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content text-center">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                                            <img src="~/Content/img/blog/@blog.ImagePath" width="200" style="margin-left:60%" />
                                                        </h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                            <i data-feather="x"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="color:#000000; font-size:1.5em">
                                                            This blog will be permanently deleted<br />
                                                        </p>
                                                        <span style="font-size:1em">Do you really want to delete?</span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-secondary"
                                                                data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Close</span>
                                                        </button>
                                                        @Html.ActionLink("Delete", "Delete", "Blog", routeValues: new { Id = blog.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>
                    Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">Ə. Rufi</a>
                </p>
            </div>
        </div>
    </footer>
</div>
